<div class="cards d-flex pt-5">

    <div class="card1 shadow-lg p-3 mb-5 bg-body-tertiary rounded " style="width: 15rem; height: 8rem;">
        <div class="card-body">
          
          <h1><b><p class="card-text text-center text-light">BALATRON</p></b></h1>
        
        </div>
      </div>
      <div class="card1 shadow-lg p-3 mb-5 bg-body-tertiary rounded " style="width: 15rem; height: 8rem;">
        <div class="card-body">
          
          <h1><b><p class="card-text text-center text-light">TSHEPO</p></b></h1>
          
        
        </div>
      </div>

      <div class="card2 shadow-sm p-3 mb-5 bg-white rounded" style="width: 15rem;">
        <div class="card-body">
          
            <h1><b><p class="card-text text-center text-light">TSHEPO</p></b></h1>
            <h3><b><p class="card-text text-center text-light">Jeans</p></b></h3>
    
        </div>
      </div>

      <div class="card3 shadow-sm p-3 mb-5 bg-white rounded" style="width: 15rem;">
        <div class="card-body">
          
            <h1><b><p class="card-text text-center text-light">AUTERRA</p></b></h1>
          
        </div>
      </div>

      <div class="card4 shadow-sm p-3 mb-5 bg-white rounded" style="width: 15rem;">
        <div class="card-body">
            <h1><b><p class="card-text text-center text-light">DIGITAL</p></b></h1>
            <h3><b><p class="card-text text-center text-light">Jeans</p></b></h3>

        </div>
      </div>

</div>


