.price-and-add-to-cart-box {
    display: flex;
    justify-content: space-between;
}


.product-details-page-image {
    width: 400px;
    height: 500px;
    justify-content: center;
    display: flex;
}

a {
    text-decoration: none;
    font-weight: bolder !important;
    font-variant: unset;
}

a:hover {
    border-bottom: 2px gray solid;
    transition: .2s;
}