<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 ">
            <img src="https://i.insider.com/54fdc12decad042920ceb0c8?width=1000&format=jpeg&auto=webp" width="800" height="350" alt="">

        </div>

        <div class="col-lg-4">

            <div>
                <h3>Here lies the title of the product</h3>
                <p class="card-text"> This is the description of the item in question,this should includewhat is it?
                    It's,who is it for,and the fabric used to make the item.
                </p>
                <br>


                <div class="d-flex me-5">
                    <button class="button btn btn-success me-3">S</button>
                    <button class="button btn btn-success me-3">M</button>
                    <button class="button btn btn-success me-3">L</button>
                    <button class="button btn btn-success me-3">XL</button>


                    <img src="../../assets/cart.png" alt="">
                </div>
                <br>
                <br>
                <br>

                <h5>R299.99</h5>
            </div>

        </div>
        <h3 class="mt-5"> You might also like</h3>

        <div class="row">
            <div class="mt-5"></div>
            <div class="col-lg-3 product-card" *ngFor="let product of products$ | async | slice:0:4">
                <img class="product-img" width="200px" height="200" src="{{product.image}}" alt="">
                <p class="lead pt-2 product-title">
                    {{ product.title | slice:0:25 }}
                </p>

                <p class="product-description">
                    {{ product.description | slice:0:50 }}
                    ...</p>

                <div class="price-and-cart-div">
                    <div class="price">
                        <p>
                            <strong>R {{product.price}}</strong>
                        </p>
                    </div>
                    <div class="cart">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-cart" viewBox="0 0 16 16">
                            <path
                                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                        </svg>
                    </div>
                </div>

            </div>
        </div>