<div class="container" style="margin-top: 200px;">
    <div class="row">
        <div class="col-lg-6" *ngIf="product">
            <img class="product-details-page-image" src="{{product?.image}}" alt="product image">
        </div>
        <div class="col-lg-6">
            <h4>{{product?.title}}</h4>
            <p class="product-description">{{product?.description}}</p>
            <p>
                <a routerLink="/{{product.category}}"><strong>{{product?.category}}</strong></a>
            </p>
            <div class="price-and-add-to-cart-box">
                <p><strong>R {{product?.price | number:'1.2-2'}}</strong></p>
                <app-add-to-cart></app-add-to-cart>
            </div>
        </div>
    </div>
</div>



