<div class="container category-nav">
    <div class="row">
        <div class="col-lg-12">
            <p class="categories-p">
                <a class="category-link" routerLink="/products">All</a> <span class="default">default</span> <br>
                <a class="category-link" routerLink="/women">Women</a> <br>
                <a class="category-link" routerLink="/men">Men</a> <br>
                <a class="category-link" routerLink="/electronics">Electronics</a> <br>
                <a class="category-link" routerLink="/jewelery">Jewellery</a> <br>
            </p>
        </div>
    </div>
</div>