<div class="container bg-products">
    <div class="row">
        <div class="col-lg-12">
            <h2>shop the look</h2>
        </div>
    </div>
</div>

<div class="container category-nav">
    <div class="row">
        <div class="col-lg-12 categories" >
            <div class="" *ngFor="let category of categorie$ | async; index as i">
                <a class="category-link" [class.selected]="category === selectedCategory" (click)="isSelected(category)"
                routerLink="/products">{{category}}</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-3 product-card"
                    *ngFor="let product of clickedCategoryProducts$ | async; index as i ">
                    <img class="product-img" src="{{product.image}}" alt="">
                    <hr>
                    <p class="lead pt-2 product-title">
                        <a [routerLink]="['/products/', product.id]">{{ product.title }}</a>
                    </p>

                    <div class="product-description"></div>

                    <div class="price-and-cart-div">
                        <div class="price">
                            <p>
                                <strong>$ {{product.price}}</strong>
                            </p>
                        </div>
                        <div class="cart">
                            <app-add-to-cart [products$]="product"></app-add-to-cart>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>