.bg-products {
    background: url("https://images.pexels.com/photos/1154861/pexels-photo-1154861.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-size: cover;
    padding-top: 300px;
    padding-bottom: 50px;
    background-color: #F2C6B6;
    background-blend-mode: multiply;
    color: #fff;
    margin-bottom: 50px;
}

.product-title {
    height: 7em;
}


.categories {
    display: flex;
    /* justify-content: start; */
    gap: 5em;
    margin-bottom: 5em;
}

.category-link {
    padding-bottom: 10px;
}

.product-img {
    width: 150px;
    height: 200px;
    padding-left: 60px;
    padding-bottom: 2em;
    padding-top: 2em;
    background-position: center;
}

.product-card {
    max-width: 250px;
    margin: 30px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.product-title-link {
    text-decoration: none;
    color: #000;
}


.product-title-link:hover {
    text-decoration: none;
    color: gray;
    transition: .2s;
}