<nav>
    <div class="logo"><h2>Snap-Up</h2></div>
    <div class="list">
        <ul>
            <li>
                <img src="../../assets/search.png" alt="">
            </li>
            <li>
                <input class="form-control" type="text" placeholder="Readonly input here…" readonly>
            </li>
            <li>
                <img src="../../assets/location.png" alt="">
            </li>
            <li>
                <img src="../../assets/profile.png" alt="">
            </li>
            <li>
                <img src="../../assets/cart.png" alt="">
            </li>
        </ul>
    </div>
</nav>
