<nav>
    <div class="logo" >
        <ul class="d-flex">
            <li>
                <img src="../../assets/ham menu.png" alt="">
            </li>
            <li>
                <h2 routerLink=""><b>Snap-up</b></h2>
            </li>
        </ul>
       </div>

    <div class="list">
        <ul>
           
            <li class="d-flex"><img src="../../assets/search.png" alt="">
                <input class="form-control bg-body-secondary rounded-3" type="text" placeholder="Readonly input here…" readonly>
            </li>
            <li>
                <img src="../../assets/location.png" alt="">
            </li>
            <li>
                <img src="../../assets/profile.png" alt="">
            </li>
            <li>
                <img src="../../assets/cart.png" alt="">
            </li>
        </ul>
    </div>
</nav>
