<div class="container bg-products">
    <div class="row">
        <div class="col-lg-12">
            <h2>shop mens fashion</h2>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-lg-2">
            <h6>Categories</h6>
            <p class="categories-p">
                <a class="category-link" routerLink="/products">All</a> <span class="default">default</span> <br>
                <a class="category-link"  routerLink="/women">Women</a> <br>
                <a class="category-link"  routerLink="/men">Men</a> <br>
                <a class="category-link"  routerLink="/electronics">Electronics</a> <br>
                <a class="category-link"  routerLink="/jewelery">Jewellery</a> <br>
            </p>

        </div>


        <div class="col-lg-8">
            <div class="row">
                <div class="col-lg-3 product-card" *ngFor="let product of men$ | async; index as i">
                    <img class="product-img" width="200px" height="200"
                        src="{{product.image}}"
                        alt="">
                    <p class="lead pt-2 product-title">
                       {{ product.title | slice:0:25 }}
                    </p>

                    <p class="product-description">
                        {{ product.description | slice:0:50 }}
                    ...</p>

                    <div class="price-and-cart-div">
                        <div class="price">
                            <p>
                                <strong>$ {{product.price}}</strong>
                            </p>
                        </div>
                        <div class="cart">
                            <!-- <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                class="bi bi-cart" viewBox="0 0 16 16">
                                <path
                                    d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                            </svg> -->
                        </div>
                    </div>
                    <!-- <button type="button" class="btn btn-info w-100 " (click)="addToCart(product, i)">Add to Cart</button> -->

                </div>
                <!-- <div class="col-lg-3">2</div>
                <div class="col-lg-3">3</div>
                <div class="col-lg-3">4</div> -->
                
            </div>
        </div>


        
    </div>
</div>

<app-footer></app-footer>
