.cards{
    padding-left: 6rem;
    padding-right: 6rem;
    justify-content: space-between;
}

.bg-products {
    /* background: url("../../assets/electronics.jpg"); */
    background-size: cover;
    padding-top: 300px;
    padding-bottom: 50px;
    background-color: #F2C6B6;
    background-blend-mode: multiply;
    color: #fff;
    margin-bottom: 150px;
}

.product-img {
    background-size: cover;
}

.product-title {
    font-size: 14px;
    font-weight: bold;
}

.product-description {
    font-size: 12px;
    color: gray;

}

.price {
    font-size: 12px;
    padding-top: 0.5em;
}

.price-and-cart-div {
    display: flex;
    justify-content: space-between;
}

.product-card {
    /* border: 1px black solid; */
    margin-bottom: 50px;

}

.sort-filter-p, .categories-p, .brands-p {
    font-size: 12px;
}
