<div class="avatar-container">
    <img class="category-pic1"  src="../../assets/banner pictures/pexels-anna-shvets-5325585.jpg" alt="sale category picture">
    <img class="category-pic2"  src="../../assets/banner pictures/pexels-ron-lach-8386646.jpg" alt="women category pictures">
    <img class="category-pic3"  src="../../assets/banner pictures/pexels-mart-production-7290198.jpg" alt="jewelery pictures">
    <img class="category-pic4" src="../../assets/banner pictures/pexels-teddy-tavan-4890733.jpg" alt="">
    <img class="category-pic5"  src="../../assets/banner pictures/pexels-artem-podrez-6941451.jpg" alt="kids category picture">
</div>
