<!-- <div class="container banner-container">
    <img class="banner-pic" src="../../assets/banner-pictures/pexels-mart-production-7679450.jpg" alt="">
    <div class="text-overlay">
        <h1>SNAP-<span class="text-info">UP</span></h1> -->

<div class=" class1 banner-container">
    <img class="banner-pic" src="../../assets/banner-pictures/pexels-mart-production-7679450.jpg" alt="">
    <div class="class2 text-overlay">
        <h1>
            SNAP- <span class="inner-text">UP</span></h1>
        <h3>You Name It, We got It!</h3>
        
    </div>
</div>

<app-categories></app-categories>
<!-- <app-featured-brands></app-featured-brands> -->
<app-new-arrivals></app-new-arrivals>
<app-footer></app-footer>