img {
    width: 100px;
    height: 100px;
}

#form1 {
    max-width: max-content;
}


.description-p {
    font-size: 10px;
    color: gray;
}

/* make bi-trash coursor to pointer */
.bi-trash {
    cursor: pointer;
}

/* add 100px margin-top to cart-container */
.cart-container {
    margin-top: 200px;
}