<h2><p class="text-center pt-2">New Arrivals</p></h2>
<h5><p class="text-center pb-4">Snap it here on snap-up </p></h5>

<div class="cards d-flex">
<div *ngFor="let us of [1,2,3,4]" class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../assets/new-arrival/black-shirt.webp" alt="Card image cap">
    <div class="card-body">
        <h6><p>Black tee</p></h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <div class="d-flex" style="justify-content: space-between;">
        <div>
            R199.99
        </div>
        <div>
            <img src="../../assets/cart.png" alt="">
        </div>
    </div>
    </div>
  </div>

  
</div>

<!-- second list -->

<div class="cards d-flex pt-5">
    <div  class="produc" style="width: 18rem;">
        <img class="card-img-top" [src]="products.image" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">{{products.title}}</p>
          <div class="d-flex" style="justify-content: space-between;">
            <div>
                {{products.price}}
            </div>
            <div>
                <img src="../../assets/cart.png" alt="">
            </div>
            <div>
              <button (click)="addToCart(products)">Add to Cart</button>
            </div>
        </div>
        </div>
      </div>
    
      
    </div>