<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 ">
            <img src="https://cdn.24.co.za/files/Cms/General/d/838/78e4791f250b4adf91aa1bf5eb2ba7c8.jpg" width="800" height="300" alt="">
            
        </div>

        <div class="col-lg-4">

            <div>
                <h3>Here lies the title of the product</h3>
                <p class="card-text"> This is the description of the item in question,this should includewhat is it?
                    It's,who is it for,and the fabric used to make the item.
                </p>
                <br>
                <br>

                <div class="d-flex me-5">
                    <button class="button btn btn-success me-3">S</button>
                    <button class="button btn btn-success me-3">M</button>
                    <button class="button btn btn-success me-3">L</button>
                    <button class="button btn btn-success me-3">XL</button>


                    <img src="../../assets/cart.png" alt="">
                </div>
                <br>
                <br>
                <br>

                <p>R299.99</p>
            </div>

        </div>
       <h3 class="mt-5"> You might also like</h3>
       
        <div class="row row-cols-1 row-cols-md-3 g-4">    
            <div class="col-lg-12">
            

                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                      <div class="card h-100">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                        <div class="card-footer">
                          <small class="text-body-secondary">Last updated 3 mins ago</small>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                        </div>
                        <div class="card-footer">
                          <small class="text-body-secondary">Last updated 3 mins ago</small>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100">
                        <img src="https://i.ebayimg.com/images/g/0B0AAOSw7cBi6PQc/s-l400.jpg" class="card-img-top" width="200" height="400" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                        </div>
                        <div class="card-footer">
                          <small class="text-body-secondary">Last updated 3 mins ago</small>
                        </div>
                      </div>
                    </div>
                  </div>




    </div>